body{
    background-image: url("https://external-preview.redd.it/D6COo3YmmcBYv5zwCHMdZO4kUjpczWZjNc-Td7cHH20.jpg?auto=webp&s=96e43204a9d64cee57ed9b0acda8f2e05106c180");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* width: 100vw; */
    /* background-position: absolute; */
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: auto;
    margin-top: 155px;
}
.container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* justify-items: center; */
    justify-content: space-around;
    /* justify-items: center; */
    /* align-content: space-between; */
}
h2{
    text-align: center;
    margin: -12px auto;
    color: whitesmoke;
}
h3{
    text-align: center;
    margin: -2px auto;
    color: whitesmoke;
}
.character{
    margin: 15px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: end;
    color: red;
    width: 200px;
    height: 125px;
    border: 3px solid rgb(31, 31, 31);
	box-shadow: 20px 20px 15px rgba(0,0,0,5)
}
#modal{
	/* display: none; */
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
    /* If overflow is clipped, a scroll-bar should be added to see the rest of the content */
    
}
#modal-textbox{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
	height: 575px;
	width: 300px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    z-index: 2;
    border: 1px solid white;
    /* position: relative; */
}
#clsbtn{
    margin-top: 0px;
    margin-right: 0px;
}

@media (min-width: 600px) {
    .buttons{
        margin-top: 130px;
    }
    .character{
        margin: 15px 10px;
        width: 450px;
        height: 325px;
        border: 3px solid rgb(100, 100, 100);
        box-shadow: 30px 30px 30px rgba(0,0,0,5)
    }
    #modal-textbox{
        width: 650px;
        height: 500px;
        border: 2px solid black;
        border-radius: 10px;
    }
}